<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CPDeasy - Login</title>
		<link
		rel="shortcut icon"
		type="image/x-icon"
		href="/images/teapot_1fad6_16x16.png"
	/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">	
</head>
	<header class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light center vh-10">
			<a class="navbar-brand" href="#">CPD Log</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon" 
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signup"><%= !user ? 'Sign Up' : '' %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login"
							><%= !user ? 'Login' : 'Entries' %>
						</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="tos">Terms of Service</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="privacy">Privacy</a>
					</li>
					<li>
						<a   form
							method="GET"
							href="/logout"
							action="/logout?_method=POST"
							class="nav-link ml-auto"
						>
						    <%= user ? 'Logout' : '' %> </a>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<body>
		<section class="vh-90">
			<div class="row container px-4 gy-2 offset-md-1">
				<h1 class="text-primary">CPD LOG</h1>
				<p class="col-lg-2">
					<a
						href="https://www.managers.org.uk/membership/chartered-manager/"
						target="_blank"
						><span data-toggle="tooltip" title="(Chartered Managers Institute)"
							>CMI</span
						></a
					>
					members are required to make a commitment to their ongoing
					professional development and learning
				</p>
				<p class="col-lg-2">
					Keeping a
					<a
						href="https://www.managers.org.uk/knowledge-and-insights/blog/continuing-professional-development-what-does-cpd-actually-mean/"
						target="_blank"
						><span
							data-toggle="tooltip"
							title="(Continuing Professional Development)"
							>CPD Log</span
						></a
					>
					helps a leader to identify and reflect on learning opportunities in
					their day to day work.
				</p>
				<p class="col-lg-2">
					This CPD app supports managers in that activity, providing a simple,
					structured method for adding, deleting and reviewing past log entries.
				</p>
				<p class="col-lg-2">
					The act of recalling, reflecting and reasoning through them can cement
					them in your mind to help your learning and development as a leader.
				</p>
				<p class="col-lg-2">
					CPD reflections typically make great case studies for behavioural
					recruitment questions and reflecting on them can help you interview
					better.
				</p>
			</div>
			<main>
				<% if (locals.messages.errors) { %>
					<% messages.errors.forEach( el => { %>
						<div class="alert alert-danger"><%= el.msg %></div>
					<% }) %>    
				<% } %>
				<% if (locals.messages.info) { %>
					<% messages.info.forEach( el => { %>
						<div class="alert alert-danger"><%= el.msg %></div>
					<% }) %>    
				<% } %>
				<div class="row container px-5 gy-2 offset-md-1">
					<h2 class="text-primary">Log In</h2>   
				<form action="/login" method="POST">    
					<div class="form-group py-2">
						<label for="email">Email</label>
						<input
							type="email"
							class="form-control"
							id="email"
							name="email"
							placeholder="Email"
							required
						/>
						<small class="form-text text-muted">
							Welcome back!
						</small>
					</div>
					<div class="form-group py-2">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password"  required/>
						<small class="form-text text-muted">
							Passwords are protected by bcrypt encryption
						</small>
					</div>
					<input type="submit" id="button" class="btn btn-block col-12 btn-primary" type="submit" value="Submit">
				</form>
				</div>
				</main>
		<script src="js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
			crossorigin="anonymous"
		></script>
	</body>
</html>
